.medium{
    font-family: 'Source Code Pro Medium';
    font-weight: 600;
}

.regular{
    font-family: 'Source Code Pro Regular';
}

div{
    box-sizing: border-box;
}


.page{
    background-color: #272A2B;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}



.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px 0px;
    width: 100%;
    gap: 16px;
}

.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.card__header_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.card__header_tumbnail{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.card__header_image{
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-color: #DEDEDE;
    border-radius: 50%;
}

.card__header_title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.card__image{
    width: 100%;
    height: 198px;
    background-color: #DEDEDE;
}

.card__content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.card__content_title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.paginations{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.button{
    border-radius: 3px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.button--active{
    background-color: #00000090;
}

.button:hover{
    background-color: #00000090;
}

.card__footer{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    overflow: hidden;
}

.card__footer_text{
    height: 0px;
}

.card__footer_text_active{
    height: auto;
}

.button__primary{
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.button__primary:hover{
    background-color: #00000090;
}

.card__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.card__footer_additional{
    height: 100px;
}

.card__footer_additional--active{
    height: 200px
}

.pages__wrapper{
    flex-direction: row;
}